{% extends 'app/base.html' %}
{% load static %}
{% block css %}
    <!-- Agregar estilos específicos para la página de contacto si es necesario -->
{% endblock %}

{% block js %}
    <!-- Agregar scripts específicos para la página de contacto si es necesario -->
{% endblock %}

{% block contenido %}
    <!-- Contenido específico de la página de contacto -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Nosotros</h1>
                    <p>
                        Descubre Hardware Solutions: tu socio tecnológico para el éxito en un mundo digital en constante evolución
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Misión</a>
                            <br>
                            <p class="card-text">
                                En Hardware Solutions, nos dedicamos a ofrecer soluciones tecnológicas de alta calidad que potencien el éxito de nuestros clientes en un mundo digital en constante evolución. Desde procesadores de última generación hasta periféricos y componentes para computadoras, nos comprometemos a satisfacer las necesidades de profesionales, entusiastas y empresas. Con un enfoque centrado en el cliente, buscamos proporcionar un servicio excepcional y una experiencia de compra sin igual en cada interacción.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Visión</a>
                            <br>
                            <p class="card-text">
                                En Hardware Solutions, buscamos ser el destino preferido para soluciones tecnológicas de vanguardia, siendo reconocidos como líderes del mercado por nuestra innovación, integridad y satisfacción del cliente. Nos esforzamos por construir relaciones sólidas y duraderas con nuestros clientes, colaboradores y comunidades, mientras nos adaptamos y crecemos en un entorno tecnológico en constante evolución.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <a href="#" class="h2 text-decoration-none text-dark">Objetivos</a>
                            <br>
                            <p class="card-text">
                                En Hardware Solutions, nos centramos en ofrecer productos y servicios excepcionales que superen las expectativas de nuestros clientes en calidad, rendimiento y valor. Buscamos expandir nuestra presencia nacional e internacional, estableciendo alianzas estratégicas y ampliando nuestro catálogo para satisfacer las necesidades del mercado. Además, nos comprometemos a promover prácticas comerciales sostenibles para contribuir al desarrollo económico y social de las comunidades donde operamos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
    <!-- ... Resto del contenido ... -->
{% endblock %}